#board {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  align-items: center;
  justify-content: center;
}

.count {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
